@charset "utf-8";
/* CSS Document */
#box{width:400px; height:470px; background:#FFF; border:1px solid #000;}
#log{width:400px; height:60px; padding:0 0px; margin:0;}
#form-body{width:380px; height:220px; padding:10px; margin:0; background:#FFF; color:#000}
#left{width:80px; float:left; text-align:left; padding:0px; margin:10px; font-size:18px}
#right{width:200px; float:left; text-align:left; padding:0px; margin:10px; font-size: 18px}
#output-box{width:370px; height:150px; padding:0px; margin-top:10px; margin-left:20px; margin-right:10px; background:#EAEAEA;
border-radius:10px; clear:both}
#output{width:auto; height:auto; padding:10px; margin:10px}
